body {
    background-image: url("background.png");
    background-attachment: fixed;
}

#icon {
    border-radius: 16px;
    width: 8vw;
    height: 8vw;
    margin-right: 16px;
}

#title {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.download {
    width: 22vw;
    height: 12vw;
}

#description {
    backdrop-filter: blur(12px);
    border-radius: 24px;
    padding: 2vh 4vw;
    margin: 2vh 4vw;
    background-color: rgba(255, 255, 255, 0.3);
}

li {
    color: white;
    font-size: 1.2em;
    font-family: sans-serif;
    line-height: 1.4;
}